.nav.list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: Montserrat, serif;
  font-size: 0.8em;
  margin-bottom: 2em;
}

.item:not(:last-child) {
  padding-right: 2em;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: #878787;
}
